#colors {
   color:#fb8b24;
   color:#202124;
   color:#f02d3a;
   color:#f6f8ff;
}

* {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-size: 18pt;
}

/* ======
   Scrollbar
   ====== */

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background: #1E1E1E;
   border-radius: 100vw;
   margin-block: 1vh;
}

::-webkit-scrollbar-thumb {
   background: #7B7B7B;
   border-radius: 100vw;
   border: 3px solid #1E1E1E;
}

@supports (scrollbar-color: #1E1E1E #7B7B7B) {
   * {
      scrollbar-color: #1E1E1E #7B7B7B;
      scrollbar-width: thin;
   }
}

/* ======
   Global
   ====== */

body {
   font-family: sans-serif;
   background-color: #111718;
   color:#eef1ef;
}

navbar {
   width: 100%;
   color: #1e96fc;
}

#navContainer {
   z-index: 2;
   background-color: #111718;
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 2px 2px 2px black;
}

#logo {
   letter-spacing: -0.3em;
   /* font-size: 2rem; */
   width: 10%;
}

.navLink {
   text-decoration: none;
   color: #1e96fc;
}

hero {
   display: flex;
   justify-content: center;
   /* background-color: #36494E; */
}

#heroContainer {
   width: 100%;
   height: 100%;
   text-align: center;
}

#heroColors {
   width: 100vw;
   height: 100vh;
   display: flex;
}

.heroColor {
   position: absolute;
}

.heroColorContainers {
   height: 100%;
   width: 100%;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   filter: drop-shadow(0px 0px 3px black);
}

#darkGreyHero {
   background-color: #494E4E;
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 2% 50%);
   width: 86%;
   height: 60%;
}

#lightGreyHero {
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
   width: 90%;
   height: 70%;
   background-color: #808484;
}

#blueHero {
   background: #1e96fc;
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 1% 50%);
   width: 88%;
   height: 65%;
}

#heroText {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#subtitLink a, 
#subtitleLink a:visited,
#subtitleLink a:hover{
   color:#eef1ef;
}

/* #subtitleLink a:hover {
   color: #f02d3a;
} */

#about {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 10vh;
}

.titleLines {
   color:#f6f8ff;
   width: 50vw;
   margin: 2vh;
}

#experience {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#experienceDesc {
   margin-top: 1vh;
   margin-bottom: 5vh;
}

#projects {
   width: 100%;
}

.projectTableRows {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
}

.projectTableItem {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}

.projectLines {
   margin: 1vh;
   width: 25vw;
}

#contact {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contactLines {
   width: 50vw;
   margin: 2vh;
}

#contactDesc {
   text-align: center;
}

#contactLinkedIn, #contactLinkedIn:visited {
   color: #F02D3A;
}

#contactLinkedIn:hover {
   color:#f6f8ff;
}

#emailLink {
   text-decoration: none;
}

.emailButton {
   align-items: center;
   background-image: linear-gradient(144deg,#f02d3a ,#fb8b24);
   border: 0;
   border-radius: 8px;
   box-sizing: border-box;
   color: #f6f8ff;
   display: flex;
   font-family: sans-serif;
   font-size: 20px;
   justify-content: center;
   line-height: 1em;
   max-width: 100%;
   min-width: 140px;
   padding: 3px;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   cursor: pointer;
}

.emailButton:active,
.emailButton:hover {
  outline: 0;
}

.emailButton span {
   background-color: #120E13;
   padding: 16px 24px;
   border-radius: 6px;
   width: 100%;
   height: 100%;
   transition: 300ms;
}

.emailButton:hover span {
   background: none;
}

footer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#contactFooter {
   position: absolute;
   width: 100%;
   bottom: 0;
}

#footerLine {
   width: 75vw;
   border: 1px solid#F02D3A;
   margin-bottom: 2vh;
}

.footerLinks {
   color:#F02D3A;
   font-size: 24pt;
}

.icons:hover {
   transform: scale(1.15)
}

@media screen and (min-width: 767px) {
   .emailButton {
      font-size: 24px;
      min-width: 196px;
   }
}

/* ======
   Mobile 
   ======*/
@media screen and (max-width: 767px) {

   /* Main Page */
   #logo {
      font-size: 40pt;
   }
   
   #nav {
      margin-bottom: 10vh;
   }

   .navLink:hover {
      text-decoration: none;
   }

   hero {
      margin-bottom: 10vh;
   }

   #gradientShape {
      width: 210px;
      height: 210px;
   }

   #heroText {
      width: 100%;
   }

   #headerTitle {
      font-size: 30pt;
   }

   #headerSubtitle {
      font-size: 12pt;
   }

   #aboutContent {
      width: 75vw;
      text-align: center;
   }

   #experience {
      margin-bottom: 10vh;
   }

   .projectTableItem {
      width: 75vw;
   }

   /* Contact Page */

   #contactDesc {
      width: 75vw;
      margin-bottom: 5vh;
   }

   .footerLinks {
      margin: 0 10vw;
   }

}

/* ======
   Tablet 
   ====== */

@media screen and (min-width:767px) and (max-width: 1100px) {
   
   #logo {
      font-size: 60pt;
   }
   
   #nav {
      margin-bottom: 15vh;
      font-size: 18pt;
   }

   .navLink:hover {
      text-decoration: none;
   }

   hero {
      margin-bottom: 15vh;
   }

   #gradientShape {
      width: 300px;
      height: 300px;
   }

   #headerTitle {
      font-size: 50pt;
   }

   #aboutContent {
      width: 50vw;
      text-align: center;
      line-height: 175%;
   }

   #experience {
      margin-bottom: 15vh;
   }

   .projectTableItem {
      width: 50vw;
   }

   .tableItemContent {
      line-height: 175%;
   }

   /* Contact Page */

   #contactDesc {
      width: 50vw;
      margin-bottom: 10vh;
      line-height: 175%;
   }

   .footerLinks {
      margin: 0 5vw;
   }
}

/* ======
   Desktop 
   ====== */

@media screen and (min-width:1101px) {
   
   #logo {
      padding-left: 1%;
      font-size: 2.5rem;
   }
   
   /* #nav {
      margin-bottom: 20vh;
      font-size: 18pt;
   } */

   #navbarLinks {
      padding-right: 1%;
      width: 10%;
      display: flex;
      justify-content: space-between;
   }

   .navLink:hover {
      color:#eef1ef;
      text-decoration: underline;
   }

   hero {
      margin-bottom: 20vh;
   }

   #gradientShape {
      width: 500px;
      height: 500px;
   }

   #headerTitle {
      font-size: 80pt;
   }

   #headerSubtitle {
      font-size: 20pt;
   }

   #about {
      margin-bottom:20vh;
   }

   #aboutContent {
      width: 30vw;
      text-align: center;
      line-height: 175%;
   }

   #experience {
      margin-bottom: 20vh;
   }

   .projectTableItem {
      width: 50vw;
   }

   .tableItemContent {
      line-height: 175%;
      width: 30vw;
   }

   /* Contact Page */

   #contactDesc {
      width: 30vw;
      margin-bottom: 10vh;
      line-height: 175%;
   }

   .footerLinks {
      margin: 0 5vw;
   }

   .footerLinks:hover {
      color:#f6f8ff;
   }
}