#colors {
   color:#fb8b24;
   color:#202124;
   color:#f02d3a;
   color:#f6f8ff;
}

* {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

body {
   padding-top: 2vh;
   padding-bottom: 2vh;
   font-family: sans-serif;
   background-color: #120E13;
   color:#f6f8ff;
}

@media screen and (max-width: 767px) {

   /* Main Page */

   navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   #logo {
      color: #F02D3A;
      text-align: center;
      letter-spacing: -0.3em;
      font-size: 40pt;
      width: 100%;
   }

   #headerLine {
      width: 75vw;
      border: 1px solid #F02D3A;
      margin-top: 1vh;
      margin-bottom: 2vh;
   }
   
   #nav {
      color: #F02D3A;
      display: inline;
      margin-bottom: 10vh;
   }
   
   .navItem {
      float: left;
      text-align: center;
      padding: 0vw 10vw;
   }

   .navLink {
      text-decoration: none;
      color: #F02D3A
   }

   .navLink:hover {
      text-decoration: none;
   }

   hero {
      display: flex;
      justify-content: center;
      margin-bottom: 10vh;
   }

   #gradientShape {
      width: 210px;
      height: 210px;
      border: 1px transparent;
      border-radius: 31% 69% 62% 38% / 44% 31% 69% 56% ;
      background: rgb(240,45,58);
      background: linear-gradient(135deg, rgba(240,45,58,1) 1%, rgba(251,139,36,1) 100%);
      box-shadow: 10px 10px 10px 10px linear-gradient(135deg, rgba(240,45,58,1) 1%, rgba(251,139,36,1) 100%);
   }

   #heroText {
      align-self: center;
      position: absolute;
      text-align: center;
      width: 100%;
   }

   #headerTitle {
      font-size: 2.5em;
   }

   #headerSubtitle {
      font-size: 1em;
   }

   #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10vh;
   }

   .titleLines {
      color:#f6f8ff;
      width: 50vw;
      margin: 2vh;
   }

   #aboutContent {
      width: 75vw;
      text-align: center;
   }

   #experience {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10vh;
   }

   #experienceDesc {
      margin-top: 1vh;
      margin-bottom: 5vh;
   }

   #projects {
      width: 100%;
   }

   .projectTableRows {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
   }

   .projectTableItem {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 75vw;
      align-items: center;
   }

   .projectLines {
      margin: 1vh;
      width: 25vw;
   }

   /* Contact Page */

   #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .contactLines {
      width: 50vw;
      margin: 2vh;
   }

   #contactDesc {
      width: 75vw;
      text-align: center;
      margin-bottom: 5vh;
   }

   #contactLinkedIn, #contactLinkedIn:visited {
      color: #F02D3A;
   }

   #contactLinkedIn:hover {
      color:#f6f8ff;
   }
   
   /* Contact Email Button */

   #emailLink {
      text-decoration: none;
   }

   .emailButton {
      align-items: center;
      background-image: linear-gradient(144deg,#fb8b24 ,#f02d3a);
      border: 0;
      border-radius: 8px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
   }
   
   .emailButton:active,
   .emailButton:hover {
     outline: 0;
   }
   
   .emailButton span {
     background-color: #120E13;
     padding: 16px 24px;
     border-radius: 6px;
     width: 100%;
     height: 100%;
     transition: 300ms;
   }
   
   .emailButton:hover span {
     background: none;
   }

   footer {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #contactFooter {
      position: absolute;
      width: 100%;
      bottom: 0;
   }

   #footerLine {
      width: 75vw;
      border: 1px solid#F02D3A;
      margin-bottom: 2vh;
   }

   .footerLinks {
      color:#F02D3A;
      font-size: 24pt;
      margin: 0 10vw;
   }

}

@media screen and (min-width: 767px) {
   .emailButton {
      font-size: 24px;
      min-width: 196px;
   }
}

@media screen and (min-width:767px) and (max-width: 1100px) {

   navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   #logo {
      color: #F02D3A;
      text-align: center;
      letter-spacing: -0.3em;
      font-size: 60pt;
      width: 100%;
   }

   #headerLine {
      width: 75vw;
      border: 1px solid #F02D3A;
      margin-top: 1vh;
      margin-bottom: 2vh;
   }
   
   #nav {
      color: #F02D3A;
      display: inline;
      margin-bottom: 15vh;
      font-size: 18pt;
   }
   
   .navItem {
      float: left;
      text-align: center;
      padding: 0vw 10vw;
   }

   .navLink {
      text-decoration: none;
      color: #F02D3A
   }

   .navLink:hover {
      text-decoration: none;
   }

   hero {
      display: flex;
      justify-content: center;
      margin-bottom: 15vh;
   }

   #gradientShape {
      width: 300px;
      height: 300px;
      border: 1px transparent;
      border-radius: 31% 69% 62% 38% / 44% 31% 69% 56% ;
      background: rgb(240,45,58);
      background: linear-gradient(135deg, rgba(240,45,58,1) 1%, rgba(251,139,36,1) 100%);
      box-shadow: 10px 10px 10px 10px linear-gradient(135deg, rgba(240,45,58,1) 1%, rgba(251,139,36,1) 100%);
   }

   #heroText {
      position: absolute;
      align-self: center;
      text-align: center;
   }

   #headerTitle {
      font-size: 50pt;
   }

   #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10vh;
   }

   .titleLines {
      color:#f6f8ff;
      width: 50vw;
      margin: 2vh;
   }

   #aboutContent {
      width: 50vw;
      text-align: center;
      line-height: 175%;
   }

   #experience {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15vh;
   }

   #experienceDesc {
      margin-top: 1vh;
      margin-bottom: 5vh;
   }

   #projects {
      width: 100%;
   }

   .projectTableRows {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
   }

   .projectTableItem {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 50vw;
      align-items: center;
   }

   .projectLines {
      margin: 1vh;
      width: 25vw;
   }

   .tableItemContent {
      line-height: 175%;
   }

   /* Contact Page */

   #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .contactLines {
      width: 50vw;
      margin: 2vh;
   }

   #contactDesc {
      width: 50vw;
      text-align: center;
      margin-bottom: 10vh;
      line-height: 175%;
   }

   #contactLinkedIn, #contactLinkedIn:visited {
      color: #F02D3A;
   }

   #contactLinkedIn:hover {
      color:#f6f8ff;
   }

   #emailLink {
      text-decoration: none;
   }
   
   .emailButton {
      align-items: center;
      background-image: linear-gradient(144deg,#fb8b24 ,#f02d3a);
      border: 0;
      border-radius: 8px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
   }
   
   .emailButton:active,
   .emailButton:hover {
     outline: 0;
   }
   
   .emailButton span {
     background-color: #120E13;
     padding: 16px 24px;
     border-radius: 6px;
     width: 100%;
     height: 100%;
     transition: 300ms;
   }
   
   .emailButton:hover span {
     background: none;
   }

   footer {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #contactFooter {
      position: absolute;
      width: 100%;
      bottom: 0;
   }

   #footerLine {
      width: 75vw;
      border: 1px solid#F02D3A;
      margin-bottom: 2vh;
   }

   .footerLinks {
      color:#F02D3A;
      font-size: 24pt;
      margin: 0 5vw;
   }
}

@media screen and (min-width:1101px) {
   
   navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   #logo {
      color: #F02D3A;
      text-align: center;
      letter-spacing: -0.3em;
      font-size: 60pt;
      width: 100%;
   }

   #headerLine {
      width: 75vw;
      border: 1px solid #F02D3A;
      margin-top: 1vh;
      margin-bottom: 2vh;
   }
   
   #nav {
      color: #F02D3A;
      display: inline;
      margin-bottom: 20vh;
      font-size: 18pt;
   }
   
   .navItem {
      float: left;
      text-align: center;
      padding: 0vw 10vw;
   }

   .navLink {
      text-decoration: none;
      color: #F02D3A
   }

   .navLink:hover {
      color:#f6f8ff;
      text-decoration: underline;
   }

   hero {
      display: flex;
      justify-content: center;
      margin-bottom: 20vh;
   }

   #gradientShape {
      width: 500px;
      height: 500px;
      border: 1px transparent;
      border-radius: 31% 69% 62% 38% / 44% 31% 69% 56% ;
      background: rgb(240,45,58);
      background: linear-gradient(135deg, rgba(240,45,58,1) 1%, rgba(251,139,36,1) 100%);
      box-shadow: 10px 10px 10px 10px linear-gradient(135deg, rgba(240,45,58,1) 1%, rgba(251,139,36,1) 100%);
   }

   #heroText {
      position: absolute;
      align-self: center;
      text-align: center;
   }

   #headerTitle {
      font-size: 80pt;
   }

   #headerSubtitle {
      font-size: 20pt;
   }

   #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:20vh;
   }

   .titleLines {
      color:#f6f8ff;
      width: 50vw;
      margin: 2vh;
   }

   #aboutContent {
      width: 30vw;
      text-align: center;
      line-height: 175%;
   }

   #experience {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20vh;
   }

   #experienceDesc {
      margin-top: 1vh;
      margin-bottom: 5vh;
   }

   #projects {
      width: 100%;
   }

   .projectTableRows {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
   }

   .projectTableItem {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 50vw;
      align-items: center;
   }

   .projectLines {
      margin: 1vh;
      width: 25vw;
   }

   .tableItemContent {
      line-height: 175%;
      width: 30vw;
   }

   /* Contact Page */

   #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .contactLines {
      width: 50vw;
      margin: 2vh;
   }

   #contactDesc {
      width: 30vw;
      text-align: center;
      margin-bottom: 10vh;
      line-height: 175%;
   }

   #contactLinkedIn, #contactLinkedIn:visited {
      color: #F02D3A;
   }

   #contactLinkedIn:hover {
      color:#f6f8ff;
   }

   #emailLink {
      text-decoration: none;
   }
   
   .emailButton {
      align-items: center;
      background-image: linear-gradient(144deg,#fb8b24 ,#f02d3a);
      border: 0;
      border-radius: 8px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
   }
   
   .emailButton:active,
   .emailButton:hover {
     outline: 0;
   }
   
   .emailButton span {
     background-color: #120E13;
     padding: 16px 24px;
     border-radius: 6px;
     width: 100%;
     height: 100%;
     transition: 300ms;
   }
   
   .emailButton:hover span {
     background: none;
   }

   footer {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #contactFooter {
      position: absolute;
      width: 100%;
      bottom: 0;
   }

   #footerLine {
      width: 75vw;
      border: 1px solid#F02D3A;
      margin-bottom: 2vh;
   }

   .footerLinks {
      color:#F02D3A;
      font-size: 24pt;
      margin: 0 5vw;
   }

   .footerLinks:hover {
      color:#f6f8ff;
   }
}